# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
venv2/

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/

# Trained models (too large for Git)
models/*.pkl
*.pkl